{% extends 'template.html.twig' %}


{% block main %}

<div class="row justify-content-between">
    <article class="card text-white bg-info m-4 px-0 col-4" style="max-width: 18rem;">
        {# <div class="card-header text-center">{{user.sex}} {{user.firstname}} {{user.lastname}}</div> #}
        <div class="card-header text-center">{{account.accountType}}</div>
        <div class="card-header text-center">Numéro : {{account.id}}</div>
        <div class="card-body bg-white">
            <h5 class="card-title text-warning text-center">{{account.amount}}</h5>
            <p class="card-text text-dark">Derniére Opération</p>
            <div class="text-center">
        </div>
    </article>
</div>
{% endblock %}
